<%= layout("/layouts/boilerplate.ejs") %>

	<body>
		<div class="flex justify-center w-full">
			<form action="/listings/<%= filteredList._id %>?_method=PUT" class="form" method="post">
				<p class="title">Edit Listing</p>
				<label>
					<input class="input" type="text" name="listing[title]" value="<%= filteredList.title %>" required>
					<span>Enter Title</span>
				</label>

				<label>
					<textarea class="input" name="listing[description]" id="" cols="10" rows="2"
						required><%= filteredList.description  %></textarea>
					<span>Description</span>
				</label>

				<label>
					<input class="input" type="text" value="<%= filteredList.image %>" name="listing[image]">
					<span>Image Url</span>
				</label>

				<label>
					<input type="number" class="input" value="<%= filteredList.price %>" name="listing[price]" required>
					<span>Price</span>
				</label>
				<label>
					<input type="text" class="input" value="<%= filteredList.location %>" name="listing[location]"
						required>
					<span>Location</span>
				</label>
				<label>
					<input type="text" class="input" value="<%= filteredList.country %>" name="listing[country]"
						required>
					<span>Country</span>
				</label>
				<button class="submit">Edit</button>
			</form>
		</div>
	</body>